body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header,
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    /* Alinea los botones verticalmente */
    align-items: center;
    /* Centra los botones horizontalmente */
    margin-top: 20px;
    /* Agrega margen superior si es necesario */
}

button {
    background-color: #000080;
    /* Color azul marino para los botones */
    color: white;
    border: none;
    padding: 25px 60px;
    /* Ajusta el padding para un tamaño medio */
    margin: 10px 0;
    /* Espacio entre botones */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    /* Ajusta el ancho para un tamaño medio */
    max-width: 200px;
    /* Máximo ancho para controlar el tamaño en pantallas grandes */
}

button:hover {
    background-color: #0056b3;
    /* Un tono de azul más claro para el hover */
}

h1,
h2 {
    color: white;
}

footer {
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}