/* Reset básico para estilos de navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo de la página */
body,
html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Estilos para la cabecera y footer */
header,
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Estilo para el footer fijo */
footer {
    position: fixed;
    bottom: 0;
}

/* Estilo del contenedor para centrar el contenido */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilo para los títulos principales */
.heading {
    color: #fff;
}

/* Estilos para nav y los botones */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #000080;
    color: white;
    border: none;
    padding: 25px 60px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    max-width: 200px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para las secciones principales */
.skills,
.courses {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos de las secciones */
.section-title .heading {
    color: #4CAF50;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
}

/* Estilos para las listas de habilidades y cursos */
.skills-list,
.courses-list {
    list-style: none;
}

/* Estilos para el footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Estilo para el texto de derechos de autor en el footer */
footer p {
    margin-top: 10px;
}