/* Importación de fuentes externas */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #053f4b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    /* Cambio para mobile */
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    /* Ajustable según la imagen */
    height: 150px;
    overflow: hidden;
    border: 3px solid #000;
    /* Borde negro para el círculo */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    /* Alineación vertical para mobile */
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

/* Estilos existentes para botones */
nav button {
    background-color: #19a01d;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.1em;
    width: 250px;
    /* Ancho fijo para pantallas grandes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav button:hover {
    background-color: #a9a9a9;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    padding: 20px;
}

/* Secciones de habilidades, cursos y herramientas de programación */
.skills,
.courses,
.programming-tools {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Títulos de las secciones */
.skills h2,
.programming-tools h2,
.courses h2 {
    color: #333;
    font-weight: 700;
}

/* Listas de habilidades y cursos */
.skills-list,
.courses-list {
    list-style: none;
    padding-left: 0;
}

.skills-list li,
.courses-list li {
    background-color: #ecf0f1;
    border-radius: 5px;
    margin: 8px 0;
    padding: 10px;
}

/* Estilos responsivos para diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    nav button {
        width: 70%;
        /* Ancho reducido para pantallas medianas (tabletas) */
    }
}

@media screen and (max-width: 480px) {
    nav button {
        width: 90%;
        /* Ancho ajustado para pantallas pequeñas (móviles) */
    }
}